#imic-main .imic-container-spacing .select_wrapper{float:left;width:inherit}#imic-main .imic-container-spacing .select_wrapper select{width:80px;float:left}
#imic-main .imic-container-spacing .field-spacing-input{margin-right:10px;margin-bottom:7px}
