ul.imic-multi-text{margin:0;padding:0}
.imic-multi-text-remove{color:#f00;padding:2px 4px;margin-left:5px}.imic-multi-text-remove:hover{background:#f00;color:#fff;text-decoration:none}
#imic-main .imic-multi-text-add{margin-bottom:5px}
