#imic-main .imic-container-border .select2-container{margin-right:10px}
#imic-main .imic-container-border .select_wrapper{float:left;width:inherit}#imic-main .imic-container-border .select_wrapper select{width:80px;float:left}
#imic-main .imic-container-border .field-border-input{margin-right:10px;margin-bottom:7px}
